<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="sql file path and name" value="C:\svn\generateResults.sql" />
    <add key="test2" value="Some Test Value 2" />
    <add key="test3" value="Some Test Value 3" />
    <add key="test4" value="Some Test Value 4" />
    <add key="test5" value="5" />
  </appSettings>
  <connectionStrings>
    <clear />
    <!--This node is required to clear inherited connection strings from machine.config-->
    <add name="Marvin" connectionString="Server=marvin;Database=SomeDatabase;Integrated Security=true" />
    <add name="Sonic" connectionString="Server=sonic;Database=SomeDatabase;Integrated Security=true" />
    <add name="Vector" connectionString="Server=vector;Database=SomeDatabase;Integrated Security=true" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>